mixin events
  section.events
    .m-inner
      .events-head
        +sectionTitle('События')
        .events-head-line 
          .events-head-title Делимся экспертизой. Публикуемся в СМИ. Развиваемся.
          +ui-button('Все события','blue')
      .events-content
        .events-content-image
          img(src="img/events-main.png", alt="error")
        .events-content-block
          .events-content-block-item
            .events-content-block-item-date 20 декабря 2020
            .events-content-block-item-title Дарья Титкова в «Диалоге с бизнесом», при поддержке ЛО ТПП
            .events-content-block-item-tags
              +tags('суды')
              +tags('адвокаты')
              +tags('арбитраж')
            +ui-button('Подробнее')
          .events-content-block-item
            .events-content-block-item-date 20 декабря 2020
            .events-content-block-item-title ССП–Консалт ищет пострадавших от бездействий авиакомпаний
            .events-content-block-item-tags
              +tags('суды')
            +ui-button('Подробнее')
            