mixin headerAnonce
  .header-anonce
    .header-anonce-slider
      .header-anonce-slider-top
        .header-anonce-slider-top-prev анонсы
        .header-anonce-slider-top-title Всем арендателям. Как получить скидку 50% на аренду. Наш ведущий юрист дает советы.
        .header-anonce-slider-top-btn
          .anonce-btn
      .header-anonce-slider-bot
        .header-anonce-slider-bot-txt Ковид бушует как никогда. Экономика страдает, а правительство закручивает гайки. Ваш бизнес под угрозой! Мы можем помочь, раскажем, как снизить арендную плату и получить субсидии от В.В. Путина.
        +ui-button('Подробнее','blue')
        .slick-controls
          .slick-controls-arrows