mixin loader
  .loader
    .loader-inner
      .loader-inner-item
       .loader-inner-item-txt Силa Стабильного Партнерства
       .loader-inner-item-circle
          |<svg height="610" width="610">
          |<circle class="circle" cx="305" cy="305" r="300" stroke="#173551" stroke-width="1" fill-opacity="0" />
          |</svg>
          |<svg class="mobile" height="310" width="310">
          |<circle class="circle" cx="150" cy="150" r="150" stroke="#173551" stroke-width="1" fill-opacity="0" />
          |</svg>