mixin practiceBlockItem(data)
  div
    .practice-slider-item
      .practice-slider-item-content 
        +sectionTitle('Ведущие практики')
        .practice-slider-item-content-title
          a(href="#")=data.title 
          span=data.num
      .practice-slider-item-image 
        img(src=data.img, alt="error")

mixin practice
  .practice
    .practice-slider
      for item in practiceSliderMain
        +practiceBlockItem(item)
      .slick-controls
        .slick-controls-arrows
    .practice-menu
      +sectionTitle('Все практики')
      .practice-menu-block
        +ulList(practiceMainList)