mixin servicesDropContent
  .services-wrap
    .services-content
      .services-content-txt 
        p Каждый год уполномоченный орган исполнительной власти субъекта Российской Федерации (далее Госорган) определяет Перечень объектов недвижимого имущества, в отношении которых налоговая база определяется как кадастровая стоимость (далее Перечень). Вследствие неправомерного включения в этот Перечень, владельцы зданий, как правило, вынуждены платить налог на имущество в большем размере, тем самым претерпевая убытки.
      .services-content-img 
        img(src="img/service-drop4.png", alt="")
      .services-content-txt 
        p.big Не всегда включение в Перечень соответствует действительности, порой при проведении обследований объектов применяется неверный расчет, включаются площади, не подлежащие включению, либо обследование вовсе не проводится.
      ol.services-content-list 
        li Если Вы сомневаетесь или не согласны с включением вашего здания в указанный Перечень, обратитесь к специалистам ССП-Консалт, мы поможем проанализировать правильность расчета и, в случае необходимости, оспорить решение исполнительного органа.
        li Если же объект в Перечень включен правомерно, специалисты ССП-Консалт помогут в оспаривании кадастровой стоимости зданий, а также земельных участков.
    .services-contacts 
      .services-contacts-item 
        span Справки по телефону
        p 8 812 901–02–01
      .services-contacts-item 
        span Или на почту руководителю направления Екатерине Назаровой
        p
          a(href="mailto:nea@ssp-consult.ru") nea@ssp-consult.ru