mixin topBanner 
  .top-banner
    .inner
      .top-banner-title
        .top-banner-title-txt Сила Стабильного Партнерства
        .top-banner-title-desc Наш основной принцип деятельности
        .top-banner-title-desc заложен в самом названии
      .top-banner-contacts
        .top-banner-contacts-phone
          a(href="tel:88129010201") 8 812 901–02–01
        .top-banner-contacts-email
          a(href="mailto:site@ssp-consult.ru") site@ssp-consult.ru
    .top-banner-slider
      each item, index in topBannerSlider
        .top-banner-slider-item
          .inner 
            .top-banner-slider-item-info
              .top-banner-slider-item-info-text=item.text
              +ui-button('Больше о нас','red')
            .top-banner-slider-item-title=item.title
          .top-banner-slider-item-image
            img.desktop(src=item.img, alt="error")
            img.mobile(src=item.mob, alt="error")