-
  var footerMenu = [["Кейсы","О компании","Команда"],["События","Контакты"]]
-
  var footerSocials = [{"social":"Instagram"}, {"social":"Facebook"}, {"social":"Telegram"}]

mixin footerMenuClm(data)
  .footer-menu-item
    for el in data
      a(href="#")
        span=el

footer.footer
  .footer-layout
    //- img(src="img/footer.png", alt="")
  .footer-content
    .footer-content-top
      .footer-logo
        a(href="#")
          span С
          |ила 
          span С
          |табильного 
          span П
          |артнерства
      .footer-menu
        for item in footerMenu
          +footerMenuClm(item)
      .footer-social
        each item in footerSocials
          .footer-social-item
            a(href="#")
              span=item.social
    .footer-contacts
      .footer-contacts-phone 
        a(href="tel:+78129010201") +7 812 901–02–01
      .footer-contacts-mail
        a(href="mailto:site@ssp-consult.ru") site@ssp-consult.ru
    .footer-info
      .footer-info-item © 2020 ССП-Консалт
      .footer-info-item Сделано в
        =' '
        a(href="#") CloudMill