- 
  var headerMenuNavList = [{"txt":"О компании"},{"txt":"Команда"},{"txt":"События"},{"txt":"Контакты"}]
- 
  var MenuDrop = [{"img":"img/practicedrop1.png","title":"Банкротство и корпоративные конфликты"},{"img":"img/practicedrop2.png","title":"Трудовое право"},{"img":"img/practicedrop3.png","title":"Разрешение споров"}]
- 
  var menuDrop1 = [["Административно–правовая защита", "Абонентское обслуживание"],["Недвижимость и строительство", "Страховое право"],["Управление финансовой задолженностью", "PRO BONO"]]

mixin MenuItem(item)
  .header-menu-nav-item
    .header-menu-nav-item-title
      a(href="#")=item.txt

mixin menuDropItem(data)
  .dropmenu-inner-item-subitem
    .dropmenu-inner-item-subitem-img
      img(src= data.img, alt="error")
    .dropmenu-inner-item-subitem-title
      a(href="#")
        span=data.title

mixin menuDropClm(data)
  .dropmenu-inner-item-col
    for el in data
      a(href="#")
        span=el

mixin innerHeader()
  .h-inner
    .header-logo
      a(href="/") 
        +icon('icon_logo')
        +icon('icon_logo_blue')
    .header-menu 
      .header-menu-info
        .header-menu-info-practice
          a#header-drop.link(href="#") Практики
          .header-menu-info-practice-dropmenu
            .dropmenu-inner
              .dropmenu-inner-item
                for item in MenuDrop
                  +menuDropItem(item)
              .dropmenu-inner-item
                for item in menuDrop1
                  +menuDropClm(item)
        .header-menu-info-cases
          a(href="#") Кейсы
      .header-menu-nav
        for item in headerMenuNavList
          +MenuItem(item)
    .header-burger
      .header-burger-button
        span
        span
        span
      .header-burger-wrap
        .header-menu 
          .header-menu-info
            .header-menu-info-practice
              a#header-drop.link(href="#") Практики
              .header-menu-info-practice-dropmenu
                .dropmenu-inner
                  .dropmenu-inner-item
                    for item in MenuDrop
                      +menuDropItem(item)
                  .dropmenu-inner-item
                    for item in menuDrop1
                      +menuDropClm(item)
            .header-menu-info-cases
              a(href="#") Кейсы
          .header-menu-nav
            for item in headerMenuNavList
              +MenuItem(item)

if pageTitle === 'Main'
  header.header.absolute
    +innerHeader
if pageTitle === 'Practice'
  header.header.practice-page
    +innerHeader
