.popup_wrapper
  .m-inner
    .close
    .popup
      .popup-title Задать вопрос руководителю практики
      .popup-form
        form(action="#") 
          .form-fields 
            +ui-input('Имя*', 'name')
            +ui-input('E–mail', 'mail', 'r', 'email')
            +ui-input('Телефон*', 'phone', 'r', 'tel')
            +ui-textarea('Сообщение', 'r')
          .form-line 
            +ui-button('Отправить')
            .form-agreement
              +ui-checkbox('checkbox', 'Согласен на обработку персональных данных в соответствии с политикой конфиденциальности')