.confession {
  padding: 158px 0 0 0;
  overflow: hidden;

  &-title {
    font: 400 130px/117px $kudr;
    margin-bottom: 80px;
    padding-left: 30px;

    @include media-tablet {
      padding-left: 20px;
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 40px;
    }

    @include media-mobile {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &-image {
    width: 1920px;

    img {
      width: 100%;
    }

    @include media-mobile {
      width: 1055px;
    }
  }

  @include media-tablet-horizontal {
    padding: 100px 0 0 0;
  }

  @include media-tablet {
    padding: 75px 0 0 0;
  }
}
