.events {
  padding-bottom: 160px;
  @include media-desktop {
    padding-bottom: 100px;
  }
  @include media-laptop {
    padding-bottom: 90px;
  }
  @include media-tablet-horizontal {
    padding-bottom: 80px;
  }
  @include media-tablet {
    padding-bottom: 70px;
  }
  &-head {
    margin-bottom: 80px;

    &-line {
      display: flex;
      justify-content: space-between;

      @include media-tablet-horizontal {
        align-items: flex-end;
      }

      @include media-mobile {
        display: block;
      }
    }

    &-title {
      margin-top: 25px;
      max-width: 940px;
      font: 400 55px/66px $font;

      @include media-tablet-horizontal {
        font-size: 36px;
        line-height: 50px;
        max-width: 510px;
      }

      @include media-tablet {
        max-width: 300px;
        line-height: 29px;
        font-size: 24px;
      }
    }

    .ui-button {
      margin-top: 85px;

      @include media-tablet-horizontal {
        margin-top: 0;
      }

      @include media-mobile {
        margin-top: 20px;
      }
    }

    @include media-tablet {
      margin-bottom: 40px;
    }

    @include media-mobile {
      margin-bottom: 23px;
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;

    &-image {
      max-width: 305px;
      width: 20%;

      @include media-laptop {
        width: 40%;
        margin-right: 15px;
      }

      @include media-tablet-horizontal {
        display: none;
      }

      @include media-mobile {
        display: none;
      }
    }

    &-block {
      width: 75%;
      display: flex;
      justify-content: space-between;
      padding-top: 25px;
      border-top: 1px solid $dark-txt;

      &-item {
        display: flex;
        flex-direction: column;
        width: calc((100% - 10px) / 2);

        &-date {
          font: 400 20px/28px $kudr;
          margin-bottom: 20px;

          @include media-mobile {
            font-size: 16px;
            line-height: 23px;
            margin-bottom: 15px;
          }
        }

        &-title {
          font: 400 39px/55px $font;
          max-width: 510px;

          @include media-laptop {
            font-size: 35px;
            line-height: 49px;
            max-width: 375px;
          }

          @include media-tablet-horizontal {
            font-size: 24px;
            line-height: 39px;
            max-width: 100%;
          }

          @include media-mobile {
            font-size: 18px;
            line-height: 25px;
          }
        }

        &-tags {
          margin-top: auto;
          margin-bottom: 35px;
          display: flex;

          @include media-mobile {
            margin-bottom: 42px;
          }
        }

        @include media-tablet-horizontal {
          height: 290px;
        }

        @include media-tablet {
          width: 100%;
          margin-top: 60px;

          &:first-child {
            margin-top: 0;
          }
        }

        @include media-mobile {
          margin-top: 45px;
          height: 245px;
        }
      }

      @include media-tablet-horizontal {
        width: 100%;
      }

      @include media-tablet {
        display: block;
      }

      @include media-mobile {
        padding-top: 18px;
      }
    }
  }
}
