.header-anonce {
  display: none;

  &-slider {
    padding: 26px 40px;
    background: #5DBAD7;

    &.active {
      background: $dark-txt;
    }

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-prev {
        position: relative;
        font: 400 14px/20px $font;
        text-transform: uppercase;
        color: $white;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 80px;
          transform: translateY(-50%);
          border: 1px solid $white;
          width: 302px;
          height: 1px;
        }
      }

      &-title {
        font: 400 20px/28px $font;
        color: $white;
      }

      &-btn {
        .anonce-btn {
          position: relative;
          display: block;
          width: 40px;
          height: 40px;
          background: transparent;
          border: 1px solid rgba(255, 255, 255, .2);
          border-radius: 50%;
          cursor: pointer;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 8px;
            height: 13px;
            background: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4873 16.3214L18.6514 10.1563L17.2011 8.70605L12.4832 13.424L7.77239 8.70605L6.32214 10.1563L12.4873 16.3214Z' fill='white'/%3E%3C/svg%3E") center no-repeat;
          }
        }
      }
    }

    &-bot {
      position: absolute;
      top: 90px;
      left: 0;
      width: 100%;
      opacity: 0;
      height: 0;
      background: $dark-txt;
      transition: 0.2s;
      z-index: 3;

      &.active {
        opacity: 1;
        height: 300px;
        z-index: 3;
      }

      &-txt {
        font: 400 16px/25px $font;
        color: $white;
        opacity: 0.2;
        margin-bottom: 40px;
      }
    }
  }
}
