.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
  transition: 0.7s;
  will-change: transform;
  &.hidden {
    transform: translateY(-200%);
  }
  &-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    &-item {
      position: relative;
      &-txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 260px;
        font: 400 40px/40px $font;
        color: $dark-txt;
        @include media-mobile {
          font-size: 25px;
          line-height: 25px;
          max-width: 200px;
          transform: translate(-40%, -50%);
        }
      }
      &-circle {
        position: relative;
        display: flex;
        justify-content: center;
        width: 610px;
        height: 610px;
        border: 1px solid transparent;
        border-radius: 50%;
        svg {
          width: 610px;
          height: 610px;
          transform: rotate(-90deg);
          &.mobile {
            display: none;
          }
          @include media-mobile {
            display: none;
            width: 310px;
            height: 310px;
            &.mobile {
              display: block;
              align-self: center;
            }
          }
          .circle {
            stroke-dasharray: 2000;
            stroke-dashoffset: 2000;
            animation: stroke 4s ease-out forwards;
            @keyframes stroke {
              to {
                stroke-dashoffset: 0;
              }
            }
          }
        }
      }
    }
  }
}
