.practice {
  position: relative;
  margin-top: 40px;
  padding: 0 40px;

  @include media-tablet {
    padding: 0 20px;
  }

  @include media-mobile {
    margin-top: 20px;
  }


  &-slider {

    &-item {
      display: flex;
      justify-content: space-between;
      background: #D6EDF4;
      padding: 43px 0 40px 40px;
      width: 1189px;
      height: 478px;

      @include media-tablet-horizontal {
        width: 920px;
        height: 420px;
      }

      @include media-tablet {
        width: 675px;
        height: 350px;
        padding: 20px;
      }

      @include media-mobile {
        width: 295px;
        height: 354px;
      }

      &-content {
        display: flex;
        flex-direction: column;

        &-title {
          position: relative;
          max-width: 525px;
          margin-top: auto;
          padding-left: 60px;
          z-index: 1;

          @include media-tablet-horizontal {
            padding-left: 40px;
          }

          @include media-tablet {
            max-width: 300px;
          }

          @include media-mobile {
            padding-left: 10px;
            max-width: 190px;
          }

          a {
            font: 400 39px/39px $font;
            text-transform: uppercase;
            transition: 0.3s;
            cursor: pointer;

            @include media-tablet-horizontal {
              font-size: 28px;
            }

            @include media-tablet {
              font-size: 20px;
              line-height: 20px;
            }

            @include media-mobile {
              font-size: 18px;
              line-height: 18px;
            }

            &:hover {
              color: $lightblue;
            }
          }

          span {
            position: absolute;
            top: -20px;
            left: 0;
            font: 400 24px/28px $kudr;

            @include media-tablet {
              font-size: 16px;
            }

            @include media-mobile {
              top: -35px;
            }
          }
        }
      }

      &-image {
        @include media-tablet-horizontal {
          position: relative;

          img {
            position: absolute;
            top: 0;
            right: 0;
            max-width: 500px;
          }
        }

        @include media-tablet {
          img {
            max-width: 450px;
            right: -20px;
          }
        }

        @include media-mobile {
          img {
            max-width: 300px;
            top: 35px;
          }
        }
      }
    }
  }

  &-menu {
    padding: 48px 0 17px 0;
    display: flex;
    border-bottom: 2px solid #CFDEEA;

    @include media-mobile {
      display: block;
      padding: 30px 0 0;
    }

    .section_title {
      width: 19%;

      @include media-tablet {
        width: 35%;
      }

      @include media-mobile {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    &-block {
      width: 77%;

      ul {
        &.list {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          li {
            width: 26%;
            margin-bottom: 15px;

            a {
              letter-spacing: 0.5px;
              transition: 0.3s;

              &:hover {
                color: $lightblue;
                text-decoration: none;
              }

              @include media-mobile {
                font-size: 14px;
                line-height: 20px;
              }
            }

            @include media-desktop {
              width: 28%;
            }

            @include media-laptop {
              width: 33%;
            }

            @include media-tablet-horizontal {
              width: 30%;
            }

            @include media-tablet {
              width: 50%;
            }

            @include media-mobile {
              width: 100%;
            }
          }
        }
      }

      @include media-desktop {
        width: 78%;
      }

      @include media-laptop {
        width: 83%;
      }

      @include media-tablet {
        display: block;
        width: 100%;
      }
    }
  }

  .slick-slider {
    .slick-list {
      margin: 0 calc((100vw - 100%)/-2);
      padding-left: calc((100vw - 100%)/2);

      .slick-track {
        display: flex;
        align-items: stretch;
        overflow: visible;

        .slick-slide {
          height: auto;

          &:not(:first-child) {
            margin-left: 20px;
          }

          &>div {
            height: 100%;

            &>div {
              height: 100%;
            }
          }
        }
      }
    }

  }

  .slick-controls {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &-arrows {
      position: relative;
      z-index: 1;
      width: 100%;
      top: 36%;
      left: 1055px;

      @include media-tablet-horizontal {
        left: 700px;
      }

      @include media-tablet {
        left: 490px;
      }

      .slick-arrow {
        &.slick-next {
          position: relative;
          width: 190px;
          height: 140px;
          font-size: 0;
          border: none;
          cursor: pointer;
          background: url("data:image/svg+xml,%3Csvg width='182' height='138' viewBox='0 0 182 138' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M138.614 81.1921L139.457 80.3403H138.259H0.832031V58.5118H138.259H139.457L138.614 57.66L98.3895 17.035L113.665 1.65007L180.961 69.426L113.665 137.202L98.3895 121.817L138.614 81.1921Z' stroke='%23173551'/%3E%3C/svg%3E") no-repeat;

          @include media-mobile {
            opacity: 0;
          }
        }

        &.slick-prev {
          opacity: 0;
        }
      }
    }
  }
}
