.services {
  &-content {
    padding: 40px 0 80px 0;
    border-top: 1px solid $dark-txt;
    border-bottom: 1px solid $dark-txt;
    @include media-mobile {
      padding: 20px 0 40px 0;
    }
    &-txt {
      padding: 0 100px;
      @include media-tablet-horizontal {
        padding: 0;
      }
      p {
        font: 300 18px/29px $font;
        @include media-tablet {
          font-size: 14px;
          line-height: 22px;
        }
        &.big {
          font-size: 30px;
          line-height: 42px;
          @include media-tablet {
            font-size: 18px;
            line-height: 25px;
          }
        }
      }
    }
    &-img {
      margin: 80px 0;
      height: 470px;
      @include media-mobile {
        margin: 40px 0;
        height: 140px;
      }
      img {
        max-width: 100%;
      }
    }
    &-list {
      margin-top: 40px;
      padding: 0 200px;
      @include media-tablet-horizontal {
        padding: 0 50px;
      }
      @include media-mobile {
        padding: 0 10px;
        margin-top: 13px;
      }
      li {
        font: 400 16px/25px $font;
        padding-left: 87px;
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 0;
        }
        @include media-tablet-horizontal {
         padding-left: 37px;
        }
        @include media-tablet {
          font-size: 14px;
          line-height: 22px;
        }
        @include media-mobile {
          padding-left: 27px;
          margin-bottom: 18px;
        }
      }
    }
  }
  &-contacts {
    padding-left: 100px;
    margin-top: 60px;
    margin-bottom: 65px;
    display: flex;
    justify-content: space-between;
    @include media-tablet-horizontal {
      padding: 0;
    }
    @include media-mobile {
      display: block;
      margin-top: 40px;
      margin-bottom: 25px;
    }
    &-item {
      @include media-mobile {
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      span {
        display: block;
        max-width: 385px;
        margin-bottom: 5px;
        font: 400 16px/25px $font;
        @include media-tablet {
          font-size: 14px;
          line-height: 22px;
          max-width: 295px;
        }
      }
      p {
        font-size: 30px;
        line-height: 42px;
        @include media-tablet {
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }
}
