.top-banner {
  position: relative;
  color: $white;

  &-title {
    position: absolute;
    top: 168px;
    left: 40px;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1110px;

    @include media-tablet-horizontal {
      top: 125px;
      left: 20px;
    }

    @include media-tablet {
      top: 90px;
    }


    &-txt {
      position: relative;
      font: 400 14px/20px $font;
      padding-right: 140px;
      text-transform: uppercase;
      letter-spacing: 0.5px;

      @include media-laptop {
        letter-spacing: 0.3px;
      }

      @include media-tablet {
        font-size: 12px;
        line-height: 16px;
      }

      @include media-mobile {
        padding-right: 130px;
        margin-bottom: 5px;
      }


      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        border: 1px solid $white;
        width: 109px;

        @include media-mobile {
          width: 96px;
        }
      }
    }

    &-desc {
      font: 400 37px/42px $font;
      letter-spacing: 1px;

      @include media-tablet-horizontal {
        font-size: 22px;
        line-height: 32px;
      }

      @include media-tablet {
        font-size: 18px;
        line-height: 22px;
      }

      @include media-mobile {
        letter-spacing: 0.5px;
        line-height: 26px;
      }
    }
  }

  &-contacts {
    position: absolute;
    bottom: 45px;
    right: 40px;
    z-index: 1;
    text-align: right;

    @include media-tablet-horizontal {
      bottom: 20px;
      right: 20px;
    }

    @include media-tablet {}

    @include media-mobile {
      display: none;
    }

    &-phone {
      margin-bottom: 10px;

      @include media-tablet {
        margin-bottom: 3px;
      }

      a {
        font: 400 16px/16px $font;
        color: $white;

        @include media-tablet-horizontal {
          font-size: 14px;
        }

        @include media-tablet {
          font-size: 12px;
        }
      }
    }

    &-email {
      a {
        font: 400 16px/16px $font;
        color: $white;
        letter-spacing: 0.5px;

        @include media-tablet-horizontal {
          font-size: 14px;
        }

        @include media-tablet {
          font-size: 12px;
        }
      }
    }
  }

  &-slider {
    &-item {
      &-info {
        position: absolute;
        top: 348px;
        right: 133px;
        max-width: 460px;
        z-index: 1;

        @include media-desktop {
          top: 300px;
          right: 69px;
        }

        @include media-laptop {
          top: 265px;
          right: 56px;
        }

        @include media-tablet-horizontal {
          top: 219px;
          right: 20px;
          max-width: 350px;
        }

        @include media-tablet {
          top: 400px;
          max-width: 315px;
        }

        @include media-mobile {
          top: 378px;
          right: 40px;
        }

        &-text {
          font: 400 24px/34px $font;
          margin-bottom: 44px;
          letter-spacing: 0.7px;

          @include media-tablet-horizontal {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 20px;
          }

          @include media-tablet {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 15px;
          }
        }
      }

      &-title {
        position: absolute;
        bottom: 0;
        left: 30px;
        font: 300 186px/260px $kudr;
        z-index: 1;

        @include media-laptop {
          bottom: -30px;
        }

        @include media-tablet-horizontal {
          font-size: 110px;
          line-height: 190px;
          left: 20px;
        }

        @include media-tablet {
          font-size: 55px;
          line-height: 55px;
          bottom: 20px;
        }
      }

      &-image {
        position: relative;

        img {
          &.mobile {
            display: none;
          }
        }

        @include media-desktop {
          height: 900px;

          img {
            position: absolute;
            top: 0;
            left: 0;
            height: 900px;
          }
        }

        @include media-laptop {
          height: 768px;

          img {
            height: 768px;
            left: -109px;
          }
        }

        @include media-tablet-horizontal {
          height: 667px;

          img {
            height: 667px;
            left: -49px;
          }
        }

        @include media-mobile {

          img {
            left: -234px;
          }
        }

        @include media-mobile-small {

          img {
            left: 0;
            height: auto;

            &.desktop {
              display: none;
            }

            &.mobile {
              display: block;
            }
          }
        }
      }
    }

    .slick-dots {
      position: absolute;
      top: 39%;
      left: 48px;
      z-index: 1;
      display: flex;
      align-items: center;
      list-style: none;

      @include media-desktop {
        top: 38%;
      }

      @include media-laptop {
        top: 40%;
      }

      @include media-tablet {
        top: 37%;
      }

      @include media-mobile {
        top: 29%;
        left: 37px;
      }

      button {
        padding: 0;
        font-size: 0;
        position: relative;
        margin-left: -15px;
        border: 1px solid $white;
        border-radius: 50%;
        width: 151px;
        height: 151px;
        transition: 0.6s;
        will-change: width;
        background-color: transparent;
        outline: none;
        cursor: pointer;

        @include media-tablet-horizontal {
          width: 121px;
          height: 121px;
        }

        @include media-tablet {
          width: 105px;
          height: 105px;
        }

        &#slick-slide-control00,
        &#slick-slide-control01 {
          &::before {
            content: 'C';
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            font: 400 110px/154px $kudr;
            color: $white;

            @include media-tablet-horizontal {
              font-size: 86px;
              line-height: 98px;
            }

            @include media-tablet {
              font-size: 70px;
            }
          }
        }

        &#slick-slide-control02 {
          &::before {
            content: 'П';
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            font: 400 110px/154px $kudr;
            color: $white;

            @include media-tablet-horizontal {
              font-size: 86px;
              line-height: 98px;
            }

            @include media-tablet {
              font-size: 70px;
            }
          }
        }
      }

      .slick-active {
        button {
          background-color: $red;
          width: 221px;
          height: 221px;
          border: none;
          z-index: 1;

          @include media-tablet-horizontal {
            width: 180px;
            height: 180px;
          }

          @include media-tablet {
            width: 154px;
            height: 154px;
          }

          &::before {
            position: absolute;
          }
        }
      }
    }
  }
}
