mixin icon(iconName)
  -mod = mod || ''
    svg(class="icon " + iconName)
      use(xlink:href="img/sprite.svg#" + iconName)

mixin breadcrumbs( ...list)
  .breadcrumbs
    ul.breadcrumbs-block
      each item, index in list
        li.breadcrumbs-block-item
          if index === list.length - 1
            span=item
          else
            a.breadcrumbs-block-item-link(href="/")=item

mixin pageTitle(pageTitle)
  .page_title
    h1=pageTitle

mixin sectionTitle(sectionTitle)
  .section_title
    h2=sectionTitle

mixin ui-button(text, color)
  .ui-button(class=color)
    a(href="#")
      span=text

mixin ui-checkbox(id, text)
  .ui-checkbox
    input(id=id type="checkbox" name=id)
    label(for=id)
      span=text

mixin ui-input(text, id, r, type)
  if !type
    .ui-input
      input(id=id type="text")
      label(for=id)=text
  else if r
   .ui-input
      input(id=id required type=type)
      label(for=id)=text
  else
    .ui-input
      input(id=id type=type)
      label(for=id)=text

mixin ui-select( ...data)
  .ui-select
    select
      each item in data
        option=item

mixin ui-textarea(text, r)
  if r
    .ui-textarea
      textarea(placeholder=text required)
  else
    .ui-textarea
      textarea(placeholder=text)

mixin tags(txt)
  .ui-tags
    a(href="#")=txt

mixin ulList(data, type)
  ul.list(class= type)
    for item in data
      li
        a(href="#")=item

mixin onwardsArrow(txt, title)
  section.onwards-arrow
    .onwards-arrow-wrap
      .m-inner
        .onwards-arrow-content
          .onwards-arrow-content-txt
            span=txt
          .onwards-arrow-content-title
            a=title
          .onwards-arrow-content-btn
            a(href="#") 
