.wrapper {
  main {
    .practice-page {
      .top-ban {
        &-slider {
          position: relative;
          &-item {
            &-img {
              position: relative;
              width: 1920px;
              @include media-desktop {
                width: 1680px;
              }
              @include media-tablet {
                width: 780px;
              }
              @include media-mobile {
                width: 100%;
              }
              img {
                width: 100%;
                &.mobile {
                  display: none;
                  @include media-mobile {
                    display: block;
                  }
                }
                &.desktop {
                  @include media-mobile {
                    display: none;
                  }
                }
              }
            }
            &-content {
              &-title {
                position: absolute;
                top: 160px;
                left: 50%;
                transform: translateX(-50%);
                font: 400 90px/90px $kudr;
                color: $white;
                max-width: 759px;
                text-align: center;
                @include media-tablet-horizontal {
                  font-size: 65px;
                  line-height: 65px;
                }
                @include media-tablet {
                  top: 100px;
                  font-size: 35px;
                  line-height: 35px;
                }
              }
              &-num {
                position: absolute;
                bottom: 30px;
                left: 40px;
                font: 400 100px/90px $kudr;
                color: $white;
                @include media-tablet-horizontal {
                  font-size: 65px;
                  line-height: 65px;
                }
                @include media-tablet {
                  font-size: 35px;
                  line-height: 35px;
                  bottom: 22px;
                  left: 20px;
                }
              }
            }
          }
        }
      }
      .all-practice {
        position: relative;
        margin-top: 40px;
        padding: 0 40px;
        @include media-tablet {
          padding: 0 20px;
        }
        @include media-mobile {
          margin-top: 20px;
        }
        &-wrap {
          padding-bottom: 44px;
          display: flex;
          border-bottom: 2px solid #cfdeea;
          @include media-mobile {
            display: block;
            padding-bottom: 15px;
          }
        }
        .section_title {
          width: 19%;
          @include media-tablet {
            width: 25%;
          }
          @include media-mobile {
            position: relative;
            width: 100%;
            &::after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              width: 8px;
              height: 13px;
              background: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.30758 8.11587L12.4717 1.95074L11.0214 0.500488L6.30347 5.21844L1.5927 0.500488L0.142448 1.95074L6.30758 8.11587Z' fill='%23173551'/%3E%3C/svg%3E") center no-repeat;
              background-size: 100%;
            }
            &.active {
              &::after {
                transform: rotate(180deg);
              }
            }
          }
        }
        &-box {
          width: 77%;
          @include media-desktop {
            width: 78%;
          }
          @include media-laptop {
            width: 83%;
          }
          @include media-tablet {
            display: block;
            width: 100%;
          }
          @include media-mobile {
            display: none;
            margin-top: 30px;
          }
          &-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li {
              width: 26%;
              margin-bottom: 15px;
              a {
                font: 400 16px/16px $font;
                letter-spacing: 0.5px;
                transition: 0.3s;
                &:hover {
                  color: $lightblue;
                  text-decoration: none;
                }
                @include media-tablet-horizontal {
                  font-size: 14px;
                }
              }
              @include media-desktop {
                width: 28%;
              }
              @include media-tablet-horizontal {
                width: 30%;
              }
              @include media-tablet {
                width: 50%;
              }
              @include media-mobile {
                width: 100%;
              }
            }
          }
        }
      }
      .practice-right {
        overflow: hidden;
      }
      .about {
        &-wrap {
          display: flex;
          justify-content: space-between;
          @include media-mobile {
            display: block;
          }
        }
        &-box {
          width: 75%;
          @include media-laptop {
            width: 80%;
          }
          @include media-mobile {
            width: 100%;
            margin-top: 20px;
          }
          &-item {
            p {
              font: 300 18px/29px $font;
              @include media-tablet {
                font-size: 14px;
                line-height: 22px;
              }
              &.big {
                font-size: 30px;
                line-height: 42px;
                @include media-tablet {
                  font-size: 18px;
                  line-height: 25px;
                }
              }
            }
            &:first-child {
              max-width: 980px;
              padding-bottom: 80px;
              @include media-tablet {
                padding-bottom: 40px;
              }
            }
            &:last-child {
              padding-top: 40px;
              border-top: 1px solid #173551;
              margin-left: 412px;
              p {
                @include media-desktop {
                  max-width: 580px;
                }
              }
              @include media-laptop {
                margin-left: 200px;
              }
              @include media-tablet-horizontal {
                margin-left: 0;
              }
              @include media-tablet {
                padding-top: 20px;
              }
            }
          }
        }
      }
      .services {
        &-title {
          padding-left: 200px;
          font: 400 130px/1 $kudr;
          color: $lightblue;
          margin-bottom: 55px;
          @include media-laptop {
            padding-left: 0;
          }
          @include media-tablet {
            font-size: 40px;
            margin-bottom: 40px;
            padding-left: 0;
          }
        }
        &-tabs {
          &-block {
            margin-left: 408px;
            // @include media-desktop {
            //   margin-left: 243px;
            // }
            @include media-laptop {
              margin-left: 0;
            }
            &-item {
              border-right: 1px solid #d6edf4;
              border-left: 1px solid #d6edf4;
              border-bottom: 1px solid #d6edf4;
              &:first-child {
                border-top: 1px solid #d6edf4;
              }
              &.active {
                .services-tabs-block-item-toggle {
                  i {
                    &::before {
                      transform: rotate(90deg);
                    }
                  }
                }
              }
              &-toggle {
                position: relative;
                display: flex;
                justify-content: space-between;
                padding: 38px;
                background: $white;
                user-select: none;
                cursor: pointer;
                @include media-tablet {
                  padding: 33px;
                }
                @include media-mobile {
                  padding-right: 25px;
                }
                &-title {
                  display: flex;
                  span {
                    &.num {
                      font: 400 16px/19px $font;
                      @include media-tablet {
                        font-size: 12px;
                        line-height: 14px;
                      }
                      @include media-mobile {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                      }
                    }
                    &.title {
                      display: block;
                      margin-left: 50px;
                      font: 400 25px/30px $font;
                      text-transform: uppercase;
                      max-width: 895px;
                      @include media-tablet {
                        margin-left: 25px;
                        font-size: 14px;
                        line-height: 17px;
                        max-width: 500px;
                      }
                      @include media-mobile {
                        margin-left: 0;
                      }
                    }
                  }
                }
                &::after {
                  content: '';
                  width: 40px;
                  height: 40px;
                  background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.6666 29.3096V16.6666H35V35H16.6666V31.6666H29.3096L7.15479 9.51181L9.51181 7.15479L31.6666 29.3096Z' fill='%23173551'/%3E%3C/svg%3E") no-repeat center;
                  background-size: 100%;
                  transition: 0.3s;
                  flex-shrink: 0;
                  @include media-tablet {
                    width: 30px;
                    height: 30px;
                  }
                }
                &.active {
                  background: #D6EDF4;
                  &::after {
                    transform: rotate(180deg);
                  }
                }
              }
              &-drop {
                background: #D6EDF4;
                padding: 35px 100px 15px 100px;
                display: none;
                @include media-tablet-horizontal {
                  padding: 0 40px 15px 40px;
                }
                @include media-tablet {
                  padding: 0 30px 15px 30px;
                }
              }
            }
          }
        }
      }
      .leader {
        position: relative;
        &-layout {
          display: none;
          position: absolute;
          right: 0;
          bottom: 0;
          width: 1920px;
          @include media-desktop {
            width: 1680px;
          }
          @include media-laptop {
            max-width: 1366px;
          }
          img {
            max-width: 100%;
          }
        }
        &-wrap {
          background: #d6edf4;
          padding: 160px 0;
          @include media-tablet-horizontal {
            padding: 80px 0;
          }
          @include media-tablet {
            padding: 40px 0;
          }
        }
        &-block {
          display: flex;
          justify-content: space-between;
          @include media-mobile {
            display: block;
          }
          &-img {
            margin-right: 25px;
            max-width: 385px;
            max-height: 470px;
            overflow: hidden;
            z-index: 2;
            @include media-mobile {
              max-width: 245px;
              max-height: 300px;
            }
            img {
              max-width: 100%;
            }
          }
          &-content {
            border-top: 1px solid $dark-txt;
            width: 62%;
            @include media-mobile {
              width: 100%;
              margin-top: 40px;
            }
            &-head {
              margin-top: 20px;
              display: flex;
              justify-content: space-between;
              @include media-mobile {
                display: block;
                margin-top: 10px;
              }
              &-name {
                font: 400 24px/34px $kudr;
                @include media-tablet {
                  font-size: 16px;
                  line-height: 23px;
                }
              }
              &-desc {
                font: 400 20px/28px $font;
                max-width: 315px;
                margin-left: 10px;
                @include media-tablet-horizontal {
                  max-width: 230px;
                }
                @include media-tablet {
                  font-size: 14px;
                  line-height: 22px;
                }
                @include media-mobile {
                  display: none;
                }
              }
            }
            &-title {
              margin-top: 30px;
              span {
                display: block;
                &.big {
                  font: 400 100px/140px $kudr;
                  color: $white;
                  @include media-tablet-horizontal {
                    font-size: 60px;
                    line-height: 70px;
                  }
                  @include media-tablet {
                    font-size: 40px;
                    line-height: 56px;
                  }
                }
                &.sm {
                  font: 400 55px/55px $font;
                  padding-left: 100px;
                  @include media-tablet-horizontal {
                    font-size: 35px;
                    line-height: 35px;
                  }
                  @include media-tablet {
                    font-size: 18px;
                    line-height: 25px;
                    padding-left: 50px;
                  }
                  @include media-mobile {
                    padding-left: 35px;
                  }
                }
              }
              &-desc {
                display: none;
                margin-top: 40px;
                font: 400 14px/22px $font;
                max-width: 250px;
                @include media-mobile {
                  display: block;
                }
              }
              &-email {
                margin-top: 20px;
                padding-left: 100px;
                @include media-tablet {
                  padding-left: 50px;
                }
                @include media-mobile {
                  padding-left: 0;
                }
                a {
                  font: 400 20px/28px $font;
                  display: inline-block;
                  border-bottom: 1px solid $dark-txt;
                  transition: 0.3s;
                  @include media-tablet {
                    font-size: 16px;
                    line-height: 23px;
                  }
                  &:hover {
                    color: $cover;
                    border-bottom: 1px solid $cover;
                  }
                }
              }
            }
            &-foot {
              margin-top: 90px;
              padding-left: 100px;
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              max-width: 920px;
              @include media-desktop {
                max-width: 700px;
              }
              @include media-laptop {
                max-width: 576px;
              }
              @include media-tablet {
                padding-left: 0;
              }
              &-socials {
                @include media-mobile {
                  position: absolute;
                  right: 65px;
                  bottom: 155px;
                }
                &-item {
                  margin-bottom: 20px;
                  @include media-tablet {
                    margin-bottom: 5px;
                  }
                  &:last-child {
                    margin-bottom: 0;
                  }
                  a {
                    font: 400 20px/28px $font;
                    border-bottom: 1px solid $dark-txt;
                    transition: 0.3s;
                    cursor: pointer;
                    @include media-tablet {
                      font-size: 16px;
                      line-height: 23px;
                    }
                    &:hover {
                      color: $cover;
                      border-bottom: 1px solid $cover;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .cases {
        &-title {
          font: 400 130px/1 $kudr;
          @include media-tablet-horizontal {
            font-size: 80px;
          }
          @include media-tablet {
            font-size: 40px;
            line-height: 36px;
          }
        }
        &-block {
          margin-top: 60px;
          padding-left: 200px;
          @include media-laptop {
            padding: 0;
          }
          @include media-tablet {
            margin-top: 40px;
          }
          &-item {
            padding: 40px 0;
            border-top: 1px solid $dark-txt;
            display: flex;
            justify-content: space-between;
            @include media-mobile {
              flex-direction: column-reverse;
              padding: 20px 0 40px 0;
            }
            &-head {
              width: 35%;
              @include media-mobile {
                margin-top: 20px;
                order: 2;
                width: 100%;
              }
              &-title {
                font: 400 30px/42px $font;
                @include media-tablet-horizontal {
                  font-size: 24px;
                  line-height: 32px;
                }
                @include media-tablet {
                  font-size: 18px;
                  line-height: 26px;
                }
              }
              &-tags {
                margin-top: 20px;
                border: 1px solid $dark-txt;
                border-radius: 4px;
                opacity: 0.6;
                width: fit-content;
                a {
                  display: block;
                  padding: 0 15px;
                  font: 400 20px/28px $kudr;
                  @include media-tablet-horizontal {
                    font-size: 16px;
                    line-height: 22px;
                  }
                  @include media-tablet {
                    font-size: 14px;
                    line-height: 20px;
                  }
                }
              }
            }
            &-logo {
              position: relative;
              width: 284px;
              height: 160px;
              border: 1px solid #d6edf4;
              @include media-tablet {
                width: 235px;
              }
              @include media-mobile {
                order: 3;
                width: 335px;
              }
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
            &-list {
              width: 25%;
              @include media-mobile {
                margin-top: 30px;
                order: 1;
                width: 100%;
              }
              &-title {
                font: 400 20px/28px $kudr;
                margin-bottom: 30px;
                @include media-tablet {
                  font-size: 14px;
                  line-height: 19px;
                  margin-bottom: 20px;
                }
              }
              ul {
                li {
                  font: 400 16px/16px $font;
                  margin-bottom: 20px;
                  &:last-child {
                    margin-bottom: 0;
                  }
                  @include media-tablet {
                    font-size: 14px;
                    line-height: 14px;
                    margin-bottom: 10px;
                  }
                }
              }
            }
          }
        }
      }
      .form {
        form {
          padding-left: 200px;
          max-width: 1200px;
          @include media-laptop {
            padding: 0;
          }
        }
        &-title {
          margin-bottom: 80px;
          max-width: 845px;
          font: 400 55px/66px $font;
          @include media-tablet-horizontal {
            font-size: 42px;
            line-height: 52px;
          }
          @include media-tablet {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 25px;
          }
        }
        &-line  {
          margin-top: 60px;
          display: flex;
          align-items: center;
          @include media-mobile {
            flex-direction: column-reverse;
            align-items: start;
            margin-top: 40px;
          }
        }
        &-agreement {
          margin-left: 215px;
          @include media-mobile {
            margin-left: 0;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}
