extends layouts/layout
include includes/top-banner_main
include includes/practice_main
include includes/confession_main
include includes/events_main

block variables
  - 
    var pageTitle ='Main'
  - 
    var topBannerSlider = [{"text":"Мы исключительные профессионалы. Для нас нет неразрешимых задач. Мы идем до конца. Экспертиза, креативное мышление и коллективизм — это то, что делает нашу компанию сильной.", "img":"img/top_banner_img1.png", "mob":"img/top_banner_mob.png", "title":"Сила"}, {"text":"Высокая экспертиза, сила каждого специалиста и огромный опыт на рынке позволяют нам стабильно работать и достигать нужного результата.", "img":"img/top_banner_img1.png", "mob":"img/top_banner_mob.png", "title":"Стабильного"}, {"text":"Наша философия — каждый клиент это партнер. Именно такое отношение позволяет эффективно взаимодействовать, отметая формализм и барьеры в коммуникации.", "img":"img/top_banner_img1.png", "mob":"img/top_banner_mob.png", "title":"Партнерства"}]
  - 
    var practiceSliderMain = [{"title":"Банкротство и корпоративные конфликты", "num":"01", "img":"img/practiceslider1.png"}, {"title":"Трудовое и административное право", "num":"02", "img":"img/practiceslider2.png"}, {"title":"Разрешение споров", "num":"03", "img":"img/practiceslider3.png"}]
  - 
    var practiceMainList = ["Банкротство и корпоративные конфликты", "Трудовое и административное право", "Управление финансовой задолженностью","Административно–правовая защита", "Недвижимость и строительство", "Разрешение споров","Абонентское обслуживание", "Страховое право", "PRO BONO"]

block content
  main
    .main-page
      +topBanner
      +practice
      +confession
      +events