extends layouts/layout
include includes/services

block variables
  - 
    var pageTitle ='Practice'

  -
    var topBannerSlider =[
      {
        img: 'img/practice01.png',
        imgmob: 'img/practice_slider_mob1.png',
        title: 'Банкротство и корпоративные конфликты',
        },
      {
        img: 'img/practice02.png',
        imgmob: 'img/practice_slider_mob2.png',
        title: 'Административно–правовая защита',
      },
      {
        img: 'img/practice03.png',
        imgmob: 'img/practice_slider_mob3.png',
        title: 'Абонентское обслуживание',
      },
      {
        img: 'img/practice04.png',
        imgmob: 'img/practice_slider_mob4.png',
        title: 'Трудовое право',
      },
      {
        img: 'img/practice05.png',
        imgmob: 'img/practice_slider_mob5.png',
        title: 'Недвижимость и строительство',
      },
    ]
  
  -
    let practiceBoxUl =[
      { txt: 'Банкротство и корпоративные конфликты' },
      { txt: 'Административно–правовая защита' },
      { txt: 'Абонентское обслуживание' },
      { txt: 'Трудовое право' },
      { txt: 'Недвижимость и строительство' },
      { txt: 'Страховое право' },
      { txt: 'Управление финансовой задолженностью' },
      { txt: 'Разрешение споров' },
      { txt: 'PRO BONO' },
    ]
  
  -
    let casesItem =[
      {
        title: 'Спор с «ЛенСпецСМУ»',
        tags: 'защита прав частного клиента',
        list: [
          { txt: 'Недвижимость и строительство' },
          { txt: 'Разрешение споров и арбитраж' },
        ]
      },
      {
        title: 'Защита интересов Европейского  Университета',
        tags: 'защита прав частного клиента',
        list: [
          { txt: 'Банкротство и антикризисный консалтинг' },
          { txt: 'Страховое право' },
          { txt: 'Корпоративное право и M&A' },
        ]
      },
      {
        title: 'Спор с «ЛенСпецСМУ»',
        tags: 'защита прав частного клиента',
        list: [
          { txt: 'Недвижимость и строительство' },
          { txt: 'Разрешение споров и арбитраж' },
        ]
      },
    ]

block content
  main
    .practice-page 
      .top_ban 
        .top-ban-slider
          each item, index in topBannerSlider
            .top-ban-slider-item
              .top-ban-slider-item-img
                img.desktop(src=item.img, alt="")
                img.mobile(src=item.imgmob, alt="")
              .top-ban-slider-item-content 
                .top-ban-slider-item-content-title=item.title 
                .top-ban-slider-item-content-num 0!{index+1}
      .all-practice
        .all-practice-wrap 
          +sectionTitle('Все практики')
          .all-practice-box
            ul.all-practice-box-list
              each item, index in practiceBoxUl
                li
                  a(href="#") !{item.txt}
      section.practice-right
        .m-inner 
          .practice-right-img
            img(src="img/practice300.png", alt="")
      section.about
        .m-inner
          .about-wrap 
            +sectionTitle('О практике')
            .about-box
              .about-box-item 
                p.big В рамках административно–правовой защиты бизнеса юристы ССП–Консалт оказывают поддержку организациям в ходе взаимодействия с государственными органами, а также помогают разрешить уже возникшие споры по делам об административных правонарушениях.
              .about-box-item 
                p Усиление государственного регулирования бизнеса приводит к тому, что компании все чаще нуждаются в квалифицированной юридической помощи в сфере административного права. Большинство организаций и предпринимателей регулярно сталкиваются со всевозможными проверками, нередко их следствием являются штрафы и предписания, обоснованность которых можно поставить под сомнение.
      section.services
        .m-inner
          .services-title Услуги
          .services-tabs
            .services-tabs-block
              .services-tabs-block-item
                .services-tabs-block-item-toggle
                  .services-tabs-block-item-toggle-title
                    span.num 1
                    span.title Представление интересов в государственных и муниципальных органах
                .services-tabs-block-item-drop
                  +servicesDropContent 
              .services-tabs-block-item
                .services-tabs-block-item-toggle
                  .services-tabs-block-item-toggle-title
                    span.num 2
                    span.title Сопровождение проверок государственными и муниципальными органами
                .services-tabs-block-item-drop 
                  +servicesDropContent 
              .services-tabs-block-item
                .services-tabs-block-item-toggle
                  .services-tabs-block-item-toggle-title
                    span.num 3
                    span.title Обжалование ненормативно-правовых актов, незаконных решений и действий (бездействия) госорганов в вышестоящий орган или в судебном порядке
                .services-tabs-block-item-drop 
                  .services-content
              .services-tabs-block-item
                .services-tabs-block-item-toggle
                  .services-tabs-block-item-toggle-title
                    span.num 4
                    span.title Оспаривание кадастровой стоимости
                .services-tabs-block-item-drop 
                  +servicesDropContent
              .services-tabs-block-item
                .services-tabs-block-item-toggle
                  .services-tabs-block-item-toggle-title
                    span.num 5
                    span.title Урегулирование споров с государственными органами
                .services-tabs-block-item-drop 
                  +servicesDropContent
      section.leader 
        .leader-layout
          img(src="img/leader-layout.png", alt="")
        .leader-wrap 
          .m-inner 
            .leader-block 
              .leader-block-img
                img(src="img/leader_img.png", alt="")
              .leader-block-content 
                .leader-block-content-head 
                  .leader-block-content-head-name Руководитель практики
                  .leader-block-content-head-desc Руководитель практики административного и страхового права
                .leader-block-content-title 
                  span.big Назарова
                  span.sm Екатерина Артёмовна
                  .leader-block-content-title-desc Руководитель практики административного и страхового права
                  .leader-block-content-title-email 
                    a(href="mailto:nea@ssp-consult.ru") nea@ssp-consult.ru
                .leader-block-content-foot
                  +ui-button('Задать вопрос')
                  .leader-block-content-foot-socials
                    .leader-block-content-foot-socials-item
                      a(href="#") 
                        span Telegram
                    .leader-block-content-foot-socials-item
                      a(href="#") 
                        span WhatsApp
      section.cases
        .m-inner
          .cases-title Кейсы практики
          .cases-block
            each item, index in casesItem 
              .cases-block-item 
                .cases-block-item-head 
                  .cases-block-item-head-title !{item.title}
                  .cases-block-item-head-tags 
                    a(href="#") !{item.tags}
                .cases-block-item-logo 
                  img(src="img/practice_cases"+(index+1)+".png", alt="")
                .cases-block-item-list
                  .cases-block-item-list-title Практики
                  ul
                    each itemL, indexL in item.list
                      li
                        a(href="#") !{itemL.txt}
      section.form
        .m-inner
          form(action="#")
            .form-title Задать вопрос или запросить коммерческое предложение
            .form-fields 
              +ui-input('Имя*', 'name')
              +ui-input('E–mail', 'mail', 'r', 'email')
              +ui-input('Телефон*', 'phone', 'r', 'tel')
              +ui-textarea('Сообщение', 'r')
            .form-line 
              +ui-button('Отправить')
              .form-agreement
                +ui-checkbox('checkbox', 'Согласен на обработку персональных данных в соответствии с политикой конфиденциальности')
      +onwardsArrow('Смотрите дальше', 'Административно—правовая защита')