@font-face {
  font-family: 'Pragmatica';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url('../fonts/Pragmatica-Light.woff2') format('woff2'),
    url('../fonts/Pragmatica-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pragmatica';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/Pragmatica-Book.woff2') format('woff2'),
    url('../fonts/Pragmatica-Book.woff') format('woff');
}

@font-face {
  font-family: 'KudryashevHeadline';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/KudryashevHeadline.woff2') format('woff2'),
    url('../fonts/KudryashevHeadline.woff') format('woff');
}
