$font: 'Pragmatica';
$kudr: 'KudryashevHeadline';

$black: #0c0c0c;
$white: #fff;
$dark-txt: #173551;
$bg-gray: #c4c4c4;
$red: #f76c72;
$cover: #9bd1ff;
$btn: #3691e1;
$lightblue: #5dbad7;

$mediaWidthDesktop: 1680px;
$mediaWidthLaptop: 1366px;
$mediaWidthTabletHorizontal: 1239px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 520px;
$mediaWidthMobileSmall: 375px;
