.header {
  .h-inner {
    position: relative;
    padding: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    @include media-desktop {
      padding: 37px 40px 36px 40px;
    }

    @include media-tablet-horizontal {
      padding: 20px;
    }
  }

  &.absolute {
    position: absolute;
    z-index: 2;
    width: 100%;

    &.active {
      .header-logo {
        .icon_logo {
          display: none;

          &_blue {
            display: block;
          }
        }
      }

      .header-burger {
        &-wrap {
          .header-menu {
            &-info {
              &-practice {
                .link {
                  color: $dark-txt;
                }
              }

              &-cases {
                a {
                  color: $dark-txt;
                }
              }
            }

            &-nav {
              &-item {
                &-title {
                  a {
                    color: $dark-txt;
                  }
                }
              }
            }
          }
        }
      }

      &.subactive {
        .header-logo {
          .icon_logo {
            display: block;

            &_blue {
              display: none;
            }
          }
        }
      }
    }

    .header-logo {
      .icon_logo {
        display: block;

        &_blue {
          display: none;
        }
      }
    }

    .header-menu {
      &-info {
        &-practice {
          .link {
            color: $white;

            &:hover {
              border-bottom-color: $white;
            }
          }

          &::before {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='6' viewBox='0 0 30 6' fill='none'%3E%3Ccircle cx='3' cy='3' r='3' fill='white'/%3E%3Ccircle cx='15' cy='3' r='3' fill='white'/%3E%3Ccircle cx='27' cy='3' r='3' fill='white'/%3E%3C/svg%3E") no-repeat;
          }
        }

        &-cases {
          a {
            color: $white;

            &:hover {
              border-bottom-color: $white;
            }
          }
        }
      }

      &-nav {
        &-item {
          &-title {
            a {
              color: $white;

              &:hover {
                border-bottom-color: $white;
              }
            }
          }
        }
      }
    }

    .header-burger {
      &-button {
        span {
          background: $white;
        }
      }
    }
  }

  &.practice-page {
    position: absolute;
    z-index: 2;
    width: 100%;
  }

  &.active {
    .header-burger {
      &-button {
        position: relative;
        justify-content: center;
        z-index: 11;
        width: 13px;
        height: 13px;

        span {
          background: $white;

          &:first-child {
            transform: rotate(-45deg);
            margin-left: -11px;
          }

          &:nth-child(2) {
            margin-top: -2px;
            opacity: 0;
          }

          &:last-child {
            margin-top: -4px;
            transform: rotate(45deg);
            margin-left: -11px;
          }
        }

        &:before {
          content: '';
          position: absolute;
          top: -13px;
          right: -2px;
          width: 40px;
          height: 40px;
          background-color: $lightblue;
          border-radius: 50%;
        }
      }

      &-wrap {
        height: auto;
        opacity: 1;
        visibility: visible;

        .header-menu {
          display: block;
          width: 100%;
          margin-left: 0;

          &-info {
            display: block;
            margin-bottom: 40px;

            &-practice {
              color: $white;

              &::before {
                top: 43%;
                left: 135px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='6' viewBox='0 0 30 6' fill='none'%3E%3Ccircle cx='3' cy='3' r='3' fill='%23173551'/%3E%3Ccircle cx='15' cy='3' r='3' fill='%23173551'/%3E%3Ccircle cx='27' cy='3' r='3' fill='%23173551'/%3E%3C/svg%3E") no-repeat;
              }

              .link {
                border-bottom: none;
                font-size: 24px;
                color: $dark-txt;

                &:hover {
                  border-bottom: none;
                  opacity: 0;
                }
              }
            }

            &-cases {
              margin-top: 20px;
              margin-left: 0;

              a {
                font-size: 24px;
                border-bottom: none;

                &:hover {
                  border-bottom: none;
                }
              }
            }
          }

          &-nav {
            display: block;

            &-item {
              margin-left: 0;
              margin-bottom: 20px;

              &:last-child {
                margin-bottom: 20px;
              }

              &-title {
                font-size: 16px;

                a {
                  border-bottom: none;

                  &:hover {
                    border-bottom: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &-logo {
    z-index: 3;

    a {
      width: 187px;
      height: 42px;

      @include media-desktop {
        width: 209px;
        height: 46px;
      }
    }

    .icon_logo {
      display: none;
    }

    &.active {
      .icon_logo {
        display: block;
      }

      .icon_logo_blue {
        display: none;
      }
    }
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 218px;
    width: 100%;

    &-info {
      display: flex;

      &.active {
        .header-menu-info-practice {

          a {
            border-bottom: none;
            color: $white;

            &:hover {
              border-bottom: none;
            }
          }
          &:hover {
            &::before {
             border: 1px solid $cover;
            }
           }

          &::before {
            width: 65px;
            height: 65px;
            top: -15px;
            right: -40px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.97058 7.385L1.72794 11.6276L0.313727 10.2134L4.55637 5.97078L0.313727 1.72814L1.72794 0.31393L5.97058 4.55657L10.2132 0.31393L11.6274 1.72814L7.38479 5.97078L11.6274 10.2134L10.2132 11.6276L5.97058 7.385Z' fill='white'/%3E%3C/svg%3E") center no-repeat;
            transition: 0.3s;
            z-index: 2;
          }

          &-dropmenu {
            visibility: visible;
            opacity: 1;
            z-index: 1;
            height: 600px;

            @include media-tablet {
              height: 525px;
            }

            @include media-mobile {
              height: 637px;
            }

            .dropmenu-inner {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }

      &-practice {
        position: relative;
        padding-right: 50px;

        .link {
          position: relative;
          font: 400 24px/24px $font;
          color: inherit;
          z-index: 2;
          letter-spacing: 1px;
          border-bottom: 1px solid transparent;

          &:hover {
            border-bottom: 1px solid $dark-txt;
          }
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          width: 30px;
          height: 10px;
          cursor: pointer;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='6' viewBox='0 0 30 6' fill='none'%3E%3Ccircle cx='3' cy='3' r='3' fill='%23173551'/%3E%3Ccircle cx='15' cy='3' r='3' fill='%23173551'/%3E%3Ccircle cx='27' cy='3' r='3' fill='%23173551'/%3E%3C/svg%3E") no-repeat;
        }

        &-dropmenu {
          position: absolute;
          top: -55px;
          left: -445px;
          width: 100vw;
          height: 0;
          max-width: 1920px;
          background: #124471;
          z-index: -1;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s;

          @include media-desktop {
            left: -440px;
          }

          @include media-laptop {
            left: -326px;
          }

          @include media-tablet-horizontal {
            left: -185px;
          }

          @include media-tablet {
            left: -20px;
            top: -110px;
          }

          @include media-mobile {
            top: -130px;
          }

          .dropmenu-inner {
            position: relative;
            padding: 165px 40px 0 445px;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s;

            @include media-laptop {
              padding: 165px 20px 0 20px;
            }

            &-item {
              display: flex;
              justify-content: space-between;
              margin-bottom: 60px;

              @include media-mobile {
                display: block;
                margin-bottom: 40px;
              }

              &:last-child {
                margin-bottom: 0;
              }

              &-subitem {
                width: calc((100% - 40px) / 3);

                @include media-mobile {
                  width: 100%;
                  display: flex;
                  margin-bottom: 20px;

                  &:last-child {
                    margin-bottom: 0;
                  }

                }

                &-img {
                  @include media-mobile {
                    width: 157px;
                    flex-shrink: 0;
                  }

                  img {
                    max-width: 100%;
                  }
                }

                &-title {
                  margin-top: 20px;

                  a {
                    font: 400 24px/28px $font;
                    color: $white;
                    letter-spacing: 0.5px;

                    @include media-tablet-horizontal {
                      font-size: 20px;
                    }

                    @include media-tablet {
                      font-size: 14px;
                      line-height: 16px;
                    }

                    span {
                      transition: .3s;
                      border-bottom: 1px solid transparent;

                      &:hover {
                        color: $cover;
                        border-bottom: 1px solid $cover;
                      }
                    }
                  }

                  @include media-mobile {
                    margin-left: 20px;
                    margin-top: 0;
                    max-width: 110px;
                  }
                }
              }

              &-col {
                width: calc((100% - 40px) / 3);

                @include media-mobile {
                  width: 100%;
                }

                a {
                  color: $white;
                  transition: .3s;
                  margin-bottom: 23px;
                  letter-spacing: 0.5px;
                  font-size: 16px;

                  @include media-tablet-horizontal {
                    font-size: 16px;
                  }

                  @include media-tablet {
                    font-size: 14px;
                    line-height: 16px;
                  }

                  @include media-mobile {
                    margin-bottom: 0;
                    margin-top: 15px;
                  }

                  &:last-child {
                    margin-bottom: 0;
                  }

                  span {
                    transition: .3s;
                    border-bottom: 1px solid transparent;

                    &:hover {
                      color: $cover;
                      border-bottom: 1px solid $cover;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &-cases {
        margin-left: 69px;

        a {
          font: 400 24px/24px $font;
          color: inherit;
          letter-spacing: 1px;
          border-bottom: 1px solid transparent;

          &:hover {
            border-bottom: 1px solid $dark-txt;
          }
        }
      }
    }

    &-nav {
      display: flex;
      justify-content: space-between;

      &-item {
        margin-left: 80px;

        &:first-child {
          margin-left: 0;
        }

        &-title {
          font: 400 16px/16px $font;

          a {
            color: inherit;
            letter-spacing: 1px;
            border-bottom: 1px solid transparent;

            &:hover {
              border-bottom: 1px solid $dark-txt;
            }
          }
        }
      }
    }
  }

  &-burger {
    display: none;

    &-button {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 18px;
      cursor: pointer;
      transition: 0.3s;

      span {
        display: flex;
        width: 100%;
        height: 3px;
        background: $dark-txt;
        transition: transform 0.3s ease;
      }
    }

    &-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      padding: 110px 20px 22px;
      background: $white;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease;
    }
  }

  @include media-desktop {
    .header-menu {
      margin-left: 190px;

      &-nav {
        &-item {
          margin-left: 60px;

          &:first-child {
            margin-left: 0;
          }

          &-title {
            a {
              letter-spacing: 0.5px;
            }
          }
        }
      }
    }
  }

  @include media-laptop {
    .header-logo {
      a {
        width: 185px;
        height: 42px;
      }
    }

    .header-menu {
      margin-left: 100px;

      &-nav {
        &-item {
          margin-left: 50px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  @include media-tablet-horizontal {
    .header-logo {
      a {
        width: 125px;
        height: 28px;
      }
    }

    .header-menu {
      margin-left: 40px;

      &-info {
        &-practice {
          .link {
            font-size: 18px;
          }
        }

        &-cases {
          margin-left: 30px;

          a {
            font-size: 18px;
          }
        }
      }

      &-nav {
        &-item {
          margin-left: 20px;

          &-title {
            font-size: 12px;
          }
        }
      }
    }
  }

  @include media-tablet {

    .header-menu {
      display: none;
    }

    .header-burger {
      display: block;
      margin-left: auto;
    }
  }

  @include media-mobile {
    .h-inner {
      padding: 20px;
    }
  }
}
