@import '/node_modules/normalize.css/normalize.css';
@import '/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css';
@import '/node_modules/nouislider/distribute/nouislider.min.css';
@import '/node_modules/select2/dist/css/select2.min.css';
@import '/node_modules/swiper/swiper-bundle.min.css';
@import '/node_modules/tooltipster/dist/css/tooltipster.main.min.css';
@import '/node_modules/slick-carousel/slick/slick.css';
@import '/node_modules/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css';
@import '../mixins/media';
@import '../mixins/mixins';
@import '../utils/fonts';
@import '../utils/variables';

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 0;
}
*:focus {
  outline: none;
}
html {
  box-sizing: border-box;
  line-height: 1;
  overflow-x: hidden;
}
body {
  margin: 0;
  &.loading {
    position: fixed;
    overflow-y: scroll;
  }
  .wrapper {
    position: relative;
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: $font;
    color: $dark-txt;
    main {
      .m-inner {
        padding: 0 40px;
        @include media-tablet {
          padding: 0 20px;
        }
      }
      section {
        padding-top: 160px;
        @include media-laptop {
          padding-top: 90px;
        }
        @include media-tablet {
          padding-top: 80px;
        }
      }
    }
  }
}
img {
  display: block;
}
svg {
  max-width: 100%;
  height: 100%;
}
a {
  display: block;
  text-decoration: none;
  color: $dark-txt;
  transition: ease 0.3s;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
span,
ul,
ol,
li,
tr,
td,
th,
table,
blockquote {
  margin: 0;
  padding: 0;
}
// BLOCKS

@import 'header';
@import 'footer';
@import '../includes/*';
// PAGES

@import '../*';
