@import '../mixins/media';
@import '../utils/fonts';
@import '../utils/variables';

.breadcrumbs {
  margin-bottom: 20px;
  @include media-tablet-horizontal {
    overflow-y: auto;
  }
  &-block {
    display: flex;
    align-items: center;
    &-item {
      position: relative;
      margin-right: 5px;
      padding-right: 10px;
      font-size: 14px;
      white-space: nowrap;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 6px;
        height: 1px;
        background: #aaa;
      }
      @include media-tablet {
        font-size: 12px;
      }
      &-link {
        color: #575757;
        &:hover {
          color: red;
        }
      }
      span {
        color: #aaa;
      }
      &:last-child {
        margin-right: 0;
        padding-right: 0;
        &::after {
          display: none;
        }
      }
    }
  }
}
.page_title {
  margin-bottom: 30px;
  font: 36px/1.1 $font;
  @include media-laptop {
    font-size: 28px;
  }
  @include media-tablet {
    font-size: 20px;
  }
  h1 {
    margin-bottom: inherit;
    font: inherit;
  }
}
.section_title {
  font: 24px/1.1 $kudr;
  @include media-laptop {
    font-size: 24px;
  }
  @include media-tablet {
    font-size: 18px;
  }
  @include media-mobile {
    font-size: 16px;
    line-height: 23px;
  }
  h2 {
    margin-bottom: inherit;
    font: inherit;
  }
}
.ui {
  &-button {
    display: inline-block;
    position: relative;
    width: 190px;
    height: 55px;
    a {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: $lightblue;
      will-change: width;
      overflow: hidden;
      transition: 0.3s ease;
      cursor: pointer;
      @include media-tablet {
        width: 40px;
        height: 40px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 28px;
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7121 12.0002L9.70111 5.99023L8.28711 7.40423L12.8871 12.0042L8.28711 16.5972L9.70111 18.0112L15.7121 12.0002Z' fill='white'/%3E%3C/svg%3E") center no-repeat;
        transform: translateY(-50%) translateX(-50%);
        display: block;
        width: 26px;
        height: 26px;
        transition: 0.23s;
        @include media-tablet {
          top: 39%;
          left: 21px;
        }
        @include media-mobile {
          top: 37%;
          width: 9px;
          height: 9px;
        }
      }
      &:hover {
        width: 188px;
        border-radius: 50px;
        span {
          left: 63px;
          color: $white;
        }
      }
      span {
        position: absolute;
        top: 18px;
        left: 75px;
        color: $dark-txt;
        transition: 0.3s;
        @include media-tablet {
          font-size: 14px;
          top: 10px;
          left: 57px;
        }
      }
    }
    &.red {
      a {
        background-color: $red;
        span {
          color: $white;
        }
      }
    }
  }
  &-checkbox {
    label {
      position: relative;
      font: 12px/1.5 $font;
      cursor: pointer;
      user-select: none;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        border: 1px solid $lightblue;
        border-radius: 50%;
        transition: 0.3s ease;
      }
      &::after {
        content: '';
        position: absolute;
        top: 6px;
        left: 6px;
        width: 10px;
        height: 10px;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 3.5L4.5 7L9 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0;
        transition: 0.3s ease;
      }
      span {
        display: block;
        padding-left: 35px;
      }
    }
    input[type='checkbox'] {
      display: none;
      &:checked + label {
        &::before {
          background: $lightblue;
          border-color: $lightblue;
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &-input {
    position: relative;
    margin-top: 40px;
    width: 100%;
    &:first-child {
      margin-top: 0;
    }
    @include media-tablet {
      margin-top: 30px;
    }
    input {
      width: 100%;
      padding: 15px 5px 20px;
      font: 400 20px/20px $font;
      background: #fff;
      color: $dark-txt;
      border: none;
      outline: none;
      
      &.filled ~ label,
      &:focus ~ label {
        top: -5px;
        transform: translateY(0%);
        font-size: 10px;
      }
      &.parsley-error ~ label {
        color: red;
      }
    }
    .parsley-errors-list {
      position: absolute;
      bottom: -30px;
      left: 0;
      font: 300 14px/1 $font;
      color: red;
      background: #fff;
      border-radius: 4px;
      &.filled {
        padding: 5px 10px;
      }
    }
    label {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font: 400 20px/20px $font;
      color: $dark-txt;
      transition: 0.3s ease;
      pointer-events: none;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: #D6EDF4;
      border-radius: 8px;
    }
  }
  &-textarea {
    position: relative;
    margin-top: 68px;
    @include media-tablet {
      margin-top: 45px;
    }
    textarea {
      width: 100%;
      padding: 0 5px 80px;
      font: 20px/1.5 $font;
      color: $dark-txt;
      background: #fff;
      border: none;
      outline: 0;
      resize: none;
      @include media-tablet {
        padding-bottom: 40px;
      }
      &::placeholder {
        color: $dark-txt;
      }
      &.parsley-error {
        border-color: red;
      }
    }
    .parsley-errors-list {
      position: absolute;
      bottom: -30px;
      left: 0;
      font: 300 14px/1 $font;
      color: red;
      background: #fff;
      border-radius: 4px;
      &.filled {
        padding: 5px 10px;
      }
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: #D6EDF4;
      border-radius: 8px;
    }
  }
  &-pagination {
    display: flex;
    justify-content: center;
    &-item {
      position: relative;
      text-align: center;
      width: 34px;
      height: 34px;
      font: 14px/34px $font;
      color: $black;
      background: #fff;
      border-radius: 4px;
      transition: 0.3s;
      &:hover {
        color: teal;
        svg {
          color: teal;
        }
      }
      &.prev,
      &.next {
        background: teal;
        &:hover {
          background: #6ca44c;
        }
        &.disabled {
          background: 0;
          border: 1px solid #d6d6d6;
          box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.1);
          cursor: default;
          svg {
            color: #d6d6d6;
          }
          &:hover {
            svg {
              color: #d6d6d6;
            }
          }
        }
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 14px;
          color: #fff;
        }
      }
      &.next {
        svg {
          transform: rotate(180deg) translate(50%, 50%);
        }
      }
    }
    ul {
      display: flex;
      margin: 0 20px;
      li {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        &.active {
          a {
            color: teal;
            cursor: default;
          }
        }
      }
    }
  }
  &-tags {
    margin-right: 10px;
    border: 1px solid $dark-txt;
    border-radius: 4px;
    opacity: 0.6;
    a {
      padding: 0 15px;
      font: 400 20px/28px $kudr;
      @include media-mobile {
        font-size: 14px;
        line-height: 20px;
      }
    }
    @include media-mobile {
      margin-right: 5px;
    }
  }
}
ul {
  &.list {
    position: relative;
    li {
      a {
        font: 400 16px/23px $font;
      }
    }
  }
}
.onwards-arrow {
  &-wrap {
    background: #d6edf4;
  }
  &-content {
    position: relative;
    display: flex;
    padding: 40px 0 150px;
    @include media-tablet {
      padding: 20px 0 120px;
    }
    @include media-mobile {
      display: block;
    }
    &-txt {
      font: 400 24px/34px $kudr;
      white-space: nowrap;
      @include media-tablet {
        font-size: 16px;
        line-height: 26px;
      }
    }
    &-title {
      margin-left: 218px;
      max-width: 995px;
      font: 400 90px/108px $font;
      @include media-laptop {
        margin-left: 150px;
        max-width: 600px;
        font-size: 60px;
        line-height: 70px;
      }
      @include media-tablet-horizontal {
        margin-left: 100px;
        max-width: 500px;
        font-size: 40px;
        line-height: 50px;
      }
      @include media-tablet {
        font-size: 24px;
        line-height: 28px;
        max-width: 335px;
      }
      @include media-mobile {
        margin-left: 0;
        margin-top: 20px;
      }
      a {
        cursor: pointer;
      }
    }
    &-btn {
      position: absolute;
      right: 0;
      bottom: 40px;
      width: 93px;
      height: 93px;
      background: $lightblue;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background: $dark-txt;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15px;
        height: 20px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='21' viewBox='0 0 13 21' fill='none'%3E%3Cpath d='M12.6238 10.3455L2.45979 0.183105L0.0688477 2.57405L7.84703 10.3522L0.0688477 18.1186L2.45979 20.5095L12.6238 10.3455Z' fill='white'/%3E%3C/svg%3E") no-repeat center;
      }
      @include media-tablet {
        width: 60px;
        height: 60px;
      }
    }
  }
}
